<footer>
  <div class="footer container">
    <h3 class="footer-logo">Shortly</h3>
    <div class="footer-content">
      <ul class="footer-links">
        <li class="footer-links__title">Features</li>
        <li class="footer-links__link"><a href="#">Link Shortening</a></li>
        <li class="footer-links__link"><a href="#">Branded Links</a></li>
        <li class="footer-links__link"><a href="#">Analytics</a></li>
      </ul>
      <ul class="footer-links">
        <li class="footer-links__title">Resources</li>
        <li class="footer-links__link"><a href="#">Blog</a></li>
        <li class="footer-links__link"><a href="#">Developers</a></li>
        <li class="footer-links__link"><a href="#">Support</a></li>
      </ul>
      <ul class="footer-links">
        <li class="footer-links__title">Company</li>
        <li class="footer-links__link"><a href="#">About</a></li>
        <li class="footer-links__link"><a href="#">Our Team</a></li>
        <li class="footer-links__link"><a href="#">Careers</a></li>
        <li class="footer-links__link"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-media">
      <a href="#" class="footer-media__icon"><i class="fab fa-facebook-square"></i></a>
      <a href="#" class="footer-media__icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="footer-media__icon"><i class="fab fa-pinterest"></i></a>
      <a href="#" class="footer-media__icon"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
