<nav class="container nav">
  <div class="nav-left">
    <h1 class="nav-logo">Shortly</h1>
    <ul class="nav-list">
      <li class="nav-list__item"><a href="#">Features</a></li>
      <li class="nav-list__item"><a href="#">Pricing</a></li>
      <li class="nav-list__item"><a href="#">Resources</a></li>
    </ul>
  </div>
  <div class="nav-auth">
    <button class="nav-auth__login">Login</button>
    <button class="nav-auth__sign btn">Sign Up</button>
  </div>
  <div class="nav-mobile">
    <div class="nav-mobile__button">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
